/* Slider_images.css */

/* Base styles */
.slider-container {
  position: relative;
  width: 100%;
  height: 740px;
  overflow: hidden;
  margin-top: 120px;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.image-container img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  background-size: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50%; /* Rounded buttons */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  opacity: 0; /* Initially hide the buttons */
}

.slider-container:hover .prev-button,
.slider-container:hover .next-button {
  opacity: 1; /* Show the buttons on hover */
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background on hover */
  transform: scale(1.1); /* Scale up on hover */
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}


@media screen and (max-width: 768px) {
  .slider-container {
    height: 400px; 
  }
}

@media screen and (max-width: 576px) {
  .slider-container {
    height: 300px; 
  }
}
